* text=auto eol=lf
*.snk binary
*.png binary

*.verified.txt text eol=lf working-tree-encoding=UTF-8-BOM
*.verified.xml text eol=lf working-tree-encoding=UTF-8-BOM
*.verified.json text eol=lf working-tree-encoding=UTF-8-BOM

.editorconfig text eol=lf working-tree-encoding=UTF-8
*.sln.DotSettings text eol=lf working-tree-encoding=UTF-8
*.slnx.DotSettings text eol=lf working-tree-encoding=UTF-8