image:
- Visual Studio 2022
#- macOS
#- Ubuntu
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
build_script:
- pwsh: |
    if ($isWindows) {
      Invoke-WebRequest "https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.ps1" -OutFile "./dotnet-install.ps1"
      ./dotnet-install.ps1 -JSonFile src/global.json -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
      ./dotnet-install.ps1 -Version 3.1.426 -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
      ./dotnet-install.ps1 -Version 5.0.408 -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
      ./dotnet-install.ps1 -Version 9.0.306 -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
      ./dotnet-install.ps1 -Version 10.0.103 -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
    }
    else {
      Invoke-WebRequest "https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.sh" -OutFile "./dotnet-install.sh"
      sudo chmod u+x dotnet-install.sh
      if ($isMacOS) {
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64 --install-dir '/usr/local/share/dotnet'
        sudo ./dotnet-install.sh --version 3.1.426 --architecture x64 --install-dir '/usr/local/share/dotnet'
        sudo ./dotnet-install.sh --version 9.0.306 --architecture x64 --install-dir '/usr/local/share/dotnet'
        sudo ./dotnet-install.sh --version 10.0.103 --architecture x64 --install-dir '/usr/local/share/dotnet'
      } else {
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64 --install-dir '/usr/share/dotnet'
      }
    }
- dotnet build src/Polyfill.slnx --configuration Release
- pwsh: ./src/run-tests.ps1
#- dotnet build src/PolyfillTrimmed.slnf --target PublishAll --configuration Release
#- msbuild.exe src/PolyfillUwp.sln /p:Configuration=Release -verbosity:quiet -restore
#- msbuild.exe src/PolyfillUwp.sln /p:Configuration=Release -verbosity:quiet

on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
test: off
artifacts:
- path: nugets\*.nupkg
